<h1 class="title">Nueva Reunión</h1>
<mat-card class="width-card-form">
    <mat-grid-list cols="1" rowHeight="10:1">
        <mat-grid-tile>
            <p style="text-align: center;">
                Complete el formulario con los datos requeridos
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p style="text-align: center;">
                <mat-form-field appearance="legacy">
                    <mat-label>Nombre Reunión *</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Max 15 letras</mat-hint>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Hora Inicio</mat-label>
                    <input matInput atp-time-picker start='09:00' end="18:00" readonly/>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Hora Fin</mat-label>
                    <input matInput atp-time-picker start='09:00' end="18:00" readonly/>
                </mat-form-field>
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Employees</mat-label>
                <mat-select [formControl]="employees" multiple>
                    <mat-option *ngFor="let employee of employeesList" [value]="employee">{{employee}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary">Crear</button>
            <button mat-raised-button routerLink="/" color="warn">Cancelar</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>